body {
    background: black;
}

.container {
    display: flex;
}

.section {
    background: darkblue;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.box {
    background: darkcyan;
    width: 100px;
    height: 100px;
    margin: 5px;

    display: none; /* All boxes start off as hidden */
}

img {
    width: 100%;
}