html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: black;
}

.container {
    background: rgb(21, 0, 60);    
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center; 
}

.section {
    background: darkblue;
    width: 300px;
    height: 300px;
    margin: 5px;

    display: flex;
}

.box {
    background: darkcyan;
    width: 100px;
    height: 100px;
    margin: 5px;

    display: none; /* All boxes start off as hidden */
}

img {
    width: 100%;
}